<div class="modal-header">
  <h4 class="modal-title" id="modal-basic-title">Profile update</h4>
  <button type="button" class="close" aria-label="Close" (click)="activeModal.dismiss('Cross click')">
    <span aria-hidden="true">&times;</span>
  </button>
</div>

<div class="modal-body">
  
  <form>
    <div class="form-group">

      <label for="id">Id:</label>
      <div class="input-group">
        <input type="text" id="id" name="id" class="form-control" disabled [(ngModel)]="user.id" />
      </div>

      <label for="fname">Fname</label>
      <div class="input-group">
        <input type="text" id="fname" name ="fname" class="form-control" [(ngModel)]="user.fname" />
      </div>

      <label for="lname">Lname</label>
      <div class="input-group">
        <input type="text" id="lname" name="lname" class="form-control" [(ngModel)]="user.lname" />
      </div>

      <label for="email">Email</label>
      <div class="input-group">
        <input type="text" id="email" name="email" class="form-control" [(ngModel)]="user.email" />
      </div>

    </div>
  </form>
</div>

<div class="modal-footer">
    <button type="button" class="btn btn-outline-dark" (click)="activeModal.close('Close click')">Save</button>
  <button type="button" class="btn btn-outline-dark" (click)="activeModal.close('Close click')">Close</button>
</div>